$reportSubjectColors: (
    physics: #FDAF40,
    chemistry: #FF7272,
    maths: #58BFC2,
    biology: #5DC644,
    civics: #D7923C,
    political-science: #FFA231,
    english: #84BDF3,
    geography: #7280D8,
    history: #FF875C,
    economics: #B873D2,
    mental-ability: #F6A15F,
    logical-reasoning: #D37794,
    science: #7299DE,
    evs: #4CAF79,
    evs-i: #67AB7D,
    evs-ii: #67AB7D,
    social-studies: #5562b2,
    social-science: #67AB7D,
    general-knowledge: #EA5970,
    accountancy: #595F8A,
    elements-of-book-keeping-accountancy: #2BB097,
    elements-of-book-keeping-and-accountancy: #2BB097,
    business-studies: #3D7778,
    elements-of-business: #3D7778,
    business-environment-ethics-and-management: #CCA58F,
    business-management: #299AB9,
    legal-studies: #74BFD6,
    legal-aptitude: #74BFD6,
    sociology: #AA6CE1,
    default: #55BBEA,
    organization-of-commerce: #5C3F9A,
    commerce: #7D60BB,
    book-keeping-accountancy: #2BB097,
    book-keeping-and-accountancy: #2BB097,
    organisation-of-commerce-management: #CCA58F,
    elements-of-accounts: #F06262,
    principles-and-practice-of-accounting: #5B49D6,
    business-law: #74bfd6,
    business-and-commercial-knowledge-reporting: #EBAA5C,
    business-and-commercial-knowledge: #3D7778,
    business-organisation: #3D7778,
    business-organisation-and-correspondance: #3D7778,
    business-economics: #0074F6,
    business-economics-and-quantitative-methods: #0074F6,
    business-mathematics-and-statistics: #974A06,
    business-maths: #58BFC2,
    fundamentals-of-accounting-and-auditing: #59D4EE,
    business-mathematics: #EB795C,
    commercial-applications: #759B62,
    commercial-studies: #FE8819,
    quantitative-aptitude: #DC6946,
    reasoning-ability: #00D5A9,
    english-language: #3B89EC,
    computer-application: #365275,
    statistics: #FF6785,
    botany: #4CABAF,
    bio-chemistry: #9F50E3,
    zoology: #FF5454,
    general-science: #7299DE,
    mathematical-studies: #58BFC2,
    modern-office-practices: #759B62,
    organisation-of-commerce-and-management: #5C3F9A,
    organization-of-commerce-and-management: #5C3F9A,
);
