$global-font-size: 15px;
$global-line-height: 1.3;
$font-family-serif: 'Alegreya';
$font-family: 'Open Sans',
sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

$font-karla-regular: 'Karla-Regular';
$font-karla-bold: 'Karla-Bold';
$font-family-karla: 'Karla';
